<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>File name</th>
        <th>Total records</th>
        <th>Processed records</th>
        <th>Failed records</th>
        <th>Uploaded at</th>
        <th>Time taken</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% if @uploads.any? %>
        <% @uploads.each do |upload| %>
          <tr>
            <td><%= upload.id %></td>
            <td><%= link_to upload.original_file_name, upload.attachment_url %></td>
            <td><%= upload.total_records %></td>
            <td><%= upload.processed_records %></td>
            <td><%= upload.failed_records %></td>
            <td><%= upload.created_at.strftime(Upload::DATE_FORMAT) %></td>
            <td><%= distance_of_time_in_words(upload.updated_at, upload.created_at) %></td>
            <td><%= upload.status.humanize %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan='8'>NO DATA FOUND.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
