<!DOCTYPE html>
<html>
<head>
  <title>ImporterGcm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">CSV Importer App</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= new_upload_path %>">Upload file</a></li>
          <li><a href="<%= companies_path %>">View records</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container body-container">
    <div class="jumbotron">
      <%= yield %>
    </div>
  </div>

</body>
</html>
